<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Fidelización{% endblock %}</title>
</head>
<body>

<header>
    <h1>Estacion Servicio -</h1>

<section>
    <ul>
        <a href="{% url 'inicio' %}">Inicio</a>
        <li><a href="{% url 'tabla' %}">Ver tabla de posiciones</a></li>
        <li><a href="{% url 'cambiar_contrasena' %}">Cambiar contraseña</a></li>

        {% if cliente.es_playero %}
            <li><a href="{% url 'panel_playero' %}">Ir al Panel del Playero</a></li>
        {% endif %}

        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    </ul>
</section>

<hr>

<!-- MENSAJES -->
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- CONTENIDO DE LAS PÁGINAS -->
<main>
    {% block content %}
    {% endblock %}
</main>

<hr>

<footer>
    <p>Sistema de Fidelización - {{ now|date:"Y" }}</p>
</footer>

</body>
</html>
