<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Fidelización{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

</head>
<body>

<header>
    <!--<h1>Estacion Servicio -</h1>-->
<section>
    <!--<ul>
        <a href="{% url 'inicio' %}">Inicio</a>
        {% if cliente.es_playero %}
            <li><a href="{% url 'panel_playero' %}">Ir al Panel del Playero</a></li>
        {% endif %}
    </ul>-->
</section>


<!-- <hr> -->

<!-- MENSAJES -->
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<main>
    {% block content %}
    {% endblock %}
</main>


<!-- <hr> 

<footer class="footer">
    <p>Sistema de Fidelización  {{ now|date:"Y" }}</p>
</footer>
-->
</body>
</html>