{% extends "core/base.html" %}
{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="login-c">
    <div class="login-container">
    <!-- Logo -->
    <div class="login-logo">
        <img src="{% static 'core/css/img/gas-station.svg' %}" alt="Logo estación">
    </div>

    <h2>Iniciar sesión</h2>

    {% if mensaje %}
        <p class="alert-error"><strong>{{ mensaje }}</strong></p>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!--<label for="id_username">DNI</label>-->
        {{ form.username }}

        <!--<label for="id_password">Contraseña</label>-->
        {{ form.password }}

        <button type="submit" class="btn">Ingresar</button>
    </form>

    <p>¿No tenés cuenta?
        <a href="{% url 'register' %}">Registrate aquí</a>.
    </p>
    </div>
</div>
{% endblock %}
