{% extends "core/base.html" %}
{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<h2>Iniciar sesión</h2>

{% if mensaje %}
    <p style="color: red;"><strong>{{ mensaje }}</strong></p>
{% endif %}

<form method="POST" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="id_username">DNI:</label>
    {{ form.username }}

    <label for="id_password">Contraseña:</label>
    {{ form.password }}

    <button type="submit">Ingresar</button>
</form>

<hr>

<p>¿No tenés cuenta?
    <a href="{% url 'register' %}">Registrate aquí</a>.
</p>
{% endblock %}
