{% extends "core/base.html" %}
{% load static %}

{% block title %}Mi perfil{% endblock %}

{% block content %}
<h2>Mi perfil</h2>

<form method="POST" action="">
    {% csrf_token %}

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{ user.first_name }}">

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" value="{{ user.last_name }}">

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" value="{{ cliente.telefono }}">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}">

    <button type="submit">Guardar cambios</button>
</form>
<hr>
<h2>Cambiar contraseña</h2>
<form method="POST" action="{% url 'cambiar_contrasena' %}">
    {% csrf_token %}
    <label for="old_password">Contraseña actual:</label><br>
    <input type="password" name="old_password" required><br><br>

    <label for="new_password1">Nueva contraseña:</label><br>
    <input type="password" name="new_password1" required><br><br>

    <label for="new_password2">Repetir nueva contraseña:</label><br>
    <input type="password" name="new_password2" required><br><br>

    <button type="submit">Actualizar contraseña</button>
</form>
{% if form_cambio_pass.errors %}
    <div style="color:red;">
        {{ form_cambio_pass.errors }}
    </div>
{% endif %}
<hr>

<h3>Resumen</h3>
<p><strong>Puntos acumulados:</strong> {{ cliente.puntos }}</p>
<p><strong>Posición actual:</strong> {{ posicion }}</p>

<hr>

{% endblock %}
