{% extends "core/base.html" %}
{% load static %}

<form method="POST">
    {% csrf_token %}
    {{ form.dni.label_tag }} {{ form.dni }}
    {{ form.telefono.label_tag }} {{ form.telefono }}

    {% if form.password.errors %}
        {{ form.password.label_tag }} {{ form.password }}
        {% for error in form.password.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    {% else %}
        {{ form.password.label_tag }} {{ form.password }}
    {% endif %}

    <button type="submit">Registrar / Actualizar</button>
</form>


