{% extends "core/base.html" %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block content %}
<h2>Crear cuenta</h2>

<form method="POST" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="id_dni">DNI:</label>
    {{ form.dni }}

    <label for="id_telefono">Teléfono:</label>
    {{ form.telefono }}

    <label for="id_password">Contraseña:</label>
    {{ form.password }}

    <button type="submit">Registrarme</button>
</form>

<hr>

<p>¿Ya tenés una cuenta?
    <a href="{% url 'login' %}">Iniciá sesión</a>.
</p>

{% endblock %}

