body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

button, input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
}
.table-responsive {
    overflow-x: auto;
}
